# Ignore test images
*.jpg
*.jpeg
*.png

# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo

# Ignore model files
/onnx_models
*.onnx
*.pth
*.pt
*.ckpt
*.h5
*.hdf5
*.pb
*.tflite
*.tf

# Ignore installation files
*.deb
*.tar*
*.zip
*.gz
*.bz2
*.rar
*.7z

# Ignore miscellaneous files
/misc
